﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>@ViewBag.Title - Meine ASP.NET-Anwendung</title>
    @Styles.Render("~/Content/css")    
    @Scripts.Render("~/bundles/modernizr")
    <link rel="~/Content/defaultLayout.css" />
</head>
<body>
    <style>
        body {
            background-color: #f1f1f1;
        }

        .salon-navigation {
            color: #ccc;
            background-color: #fff;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
            z-index: 999;
        }

        .dark-header-link {
            color: #587272;
        }
    </style>

    <div class="navbar navbar-fixed-top salon-navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand" style="color: #587272;">
                    <img src="~/Images/default_logo.svg" /> Salon
                </a>
                @*@Html.ActionLink("Anwendungsname", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Besuche", "Index", "Visits", new { @class="dark-header-link" })</li>
                    <li>@Html.ActionLink("Kundendaten", "ACTION", "CONTROLLER", new { @class = "dark-header-link" })</li>
                    @if (User.IsInRole("Lehrer") || User.IsInRole("Admin")) {
                        <li>@Html.ActionLink("Statistiken", "ACTION", "CONTROLLER", new { @class = "dark-header-link" })</li>
                    }
                    @if (User.IsInRole("Admin")) {
                        <li class="dropdown">
                            <a class="dropdown-toggle dark-header-link" data-toggle="dropdown" href="#">Einstellungen <span class="caret"></span>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Behandlungen", "ACTION", "CONTROLLER")</li>
                                    <li>@Html.ActionLink("Benutzerverwaltung", "ACTION", "CONTROLLER")</li>
                                    <li>@Html.ActionLink("Datenschutz", "ACTION", "CONTROLLER")</li>
                                    
                                </ul>
                            </a>

                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Salon</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
