﻿@model Salon.Models.Settings

@{
    ViewBag.Title = "Edit";
}

<h2>Einstellungen</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SettingID)

        <hr />
        <h4>Benutzer</h4>
        <div class="form-group">
            @Html.Label("User, die seit x Tagen keine Besuche mehr haben werden automatisch anonymisiert:", htmlAttributes: new { @class = "control-label col-md-8", @style = "text-align:left" })
            <div class="col-md-4" style="text-align:right">
                @Html.EditorFor(model => model.AnonymizeUserByDays, new { htmlAttributes = new { @class = "form-control", @id = "AnonymizeUserByDays", @type = "number" } })
                @Html.ValidationMessageFor(model => model.AnonymizeUserByDays, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("User, die seit x Tagen keine Besuche mehr haben werden automatisch gelöscht:", htmlAttributes: new { @class = "control-label col-md-8", @style = "text-align:left" })
            <div class="col-md-4" style="text-align:right">
                @Html.EditorFor(model => model.DeleteUserByDays, new { htmlAttributes = new { @class = "form-control", @id = "DeleteUserByDays", @type = "number" }  })
                @Html.ValidationMessageFor(model => model.DeleteUserByDays, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <hr />
        <h4>Kunden</h4>
        <div class="form-group">
            @Html.Label("Kunden, die seit x Tagen keine Besuche mehr haben werden automatisch gelöscht:", htmlAttributes: new { @class = "control-label col-md-8", @style = "text-align:left" })
            <div class="col-md-4" style="text-align:right">
                @Html.EditorFor(model => model.AnonymizeCustomerByDays, new { htmlAttributes = new { @class = "form-control", @type = "number"} })
                @Html.ValidationMessageFor(model => model.AnonymizeCustomerByDays, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Kunden, die seit x Tagen keine Besuche mehr haben werden automatisch anonymisiert:", htmlAttributes: new { @class = "control-label col-md-8", @style = "text-align:left" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.DeleteCustomerByDays, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                @Html.ValidationMessageFor(model => model.DeleteCustomerByDays, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12" style="text-align:right">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
