﻿@model IEnumerable<Salon.Models.CustomerViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Kunden</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="container">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" id="Search" placeholder="Search" class="form-control" />
            @Html.ActionLink("Search", "CustomerOverview", new { searchstring = "" }, new { @class = "customer-overview" })
        </div>
    </div>

    @*@using (Html.BeginForm())
        {
            <p>
                @Html.TextBox("SearchString") <br />
                @Html.ActionLink("Search", "CustomerOverview", new { searchstring =  }, new { @class = "customer-overview" })
            </p>
        }*@

</div>


<div id="CustomerMaster" style="height : 310px; overflow:auto;">
    <table class="table" id="tbl_cust">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GenderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FName)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.LName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>


                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CustomerId }) |
                    @Html.ActionLink("View Visits", "VisitShort", new { id = item.CustomerId }, new { @class = "customer-visitshort" }) |
                    @Html.ActionLink("View Connections", "CustomerConnection", new { id = item.CustomerId }, new { @class = "customer-connection" })

                </td>
            </tr>
        }



    </table>
</div>

<div id="MasterDetail">


</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {

        $("#Search").keyup(function () {
                            var SearchText = $("#Search").val().toLowerCase();



                        });
                    });
</script>


@section scripts {



    <script type="text/javascript">
        $(function ()
        {
            $('.customer-visitshort').on('click', function (e)
            {
                $.get($(this).prop('href'), function (response)
                {
                    $('#MasterDetail').html(response)
                });
                                e.preventDefault();
                            });
                        });

        $(function ()
        {
            $('.customer-connection').on('click', function (e)
            {
                $.get($(this).prop('href'), function (response)
                {
                    $('#MasterDetail').html(response)
                });
                                e.preventDefault();
                            });
        });


        $(function () {
            $('.customer-overview').on('click', function (e) {
                $.get($(this).prop('href'), function (response) {

                    $('#CustomerMaster').html(response)
                });
                e.preventDefault();
            });
        });


        $("#Search").keyup(function (e) {

            var Searchtext = $("#Search").val().toLowerCase();

            $(".customer-overview").attr("href", "/CustomerVisit/CustomerOverview?searchstring=" + Searchtext);
        });



       /* $("#Search").keyup( function (e) {

            //get filter



            var table, tr, td;
            table = document.getElementById("tbl_cust");
            tr = table.$("#Search").keyup("tr");

            var hitrow = 0;
            var hit = false;

            for (var i = 1; i < tr.length; i++)
            {       //loop through table rows
                td = tr[i].getElementsByTagName("td");
                for (var j = 0; j < td.length; j++)
                {

                    if (td[j].innerHTML.indexOf(Searchtext))
                    {
                        hit = true;
                    }
                }
                if (hit)
                {
                    tr[i].style.display = "";
                }
                else
                {
                    tr[i].style.display = "none";
                }

            }
        });*/
    </script>
}

