﻿@model Salon.Models.VisitTreatment
@{
    ViewBag.Title = "_TreatmentForm";
    int ran = new Random().Next();
}



<h2>
    @Model.name
    <button type="button" class="btn" data-toggle="modal" data-target="modal_treatmentAllSteps_@Model.ran"
            onclick="$('#modal_treatmentAllSteps_@Model.ran').modal()">
        <span class="glyphicon glyphicon-list"></span>
    </button>
</h2>

allow sensitive: @Model.allowSensitive

<div class="treatmentFormContainer">
    <input type="hidden" id="hidden_treatmentId" value="@Model.treatmentID"/>
    @{ 
        List<Salon.Models.TreatmentSteps> allSteps;
        if (Model.allowSensitive) {
            allSteps = Model.possibleTasks;
        }else {
            allSteps = Model.getTasksWithoutSensitive();
        }
    }
       
    @foreach (var tStep in allSteps) {
        string treatmentstepId = tStep.TreatmentId + "_" + tStep.StepId + "_" + ran;
        var task = Model.tasks.Find(x => x.StepId == tStep.StepId);

        if (task != null) {
            <div class="form-group grp_treatmentStep" id="grp_step_@treatmentstepId" data-duration="@tStep.Duration">
                <label class="col-sm-3 control-label">@tStep.Steps.Title</label>
                <div class="col-sm-7">
                    @if (tStep.Steps.StepOptions != null && tStep.Steps.StepOptions.Count > 0) {
                        <select name="slc_step_@treatmentstepId" id="inp_step_@treatmentstepId" class="form-control" required>
                            <option disabled value selected> -- Option ausw&auml;hlen -- </option>
                            @foreach (var stepOption in tStep.Steps.StepOptions) {
                            if (task.StepOptionId == stepOption.StepOptionId) {
                                    <option value="@stepOption.StepOptionId" selected>@stepOption.Option</option>
                                } else {
                                    <option value="@stepOption.StepOptionId">@stepOption.Option</option>
                                }
                            }
                        </select>
                    } else {
                        <input type="text" name="inp_step_@treatmentstepId" id="inp_step_@treatmentstepId" class="form-control" value="@task.Description" required />
                    }

                </div>
            </div>
        } else {
            <div class="form-group grp_treatmentStep hidden" id="grp_step_@treatmentstepId" data-duration="@tStep.Duration">
                <label class="col-sm-3 control-label">@tStep.Steps.Title</label>
                <div class="col-sm-7">
                    @if (tStep.Steps.StepOptions != null && tStep.Steps.StepOptions.Count > 0) {
                        <select name="slc_step_@treatmentstepId" id="inp_step_@treatmentstepId" class="form-control" required>
                            <option disabled selected value> -- Option ausw&auml;hlen -- </option>
                            @foreach (var stepOption in tStep.Steps.StepOptions) {
                                <option value="@stepOption.StepOptionId">@stepOption.Option</option>
                            }
                        </select>
                    } else {
                        <input type="text" name="inp_step_@treatmentstepId" id="inp_step_@treatmentstepId" class="form-control" required />
                    }
                </div>
            </div>
        }

        //foreach 
    }
    <!--@foreach (var tStep in Model.tasks) {
        string treatmentstepId = tStep.TreatmentId + "_" + tStep.StepId;
        <div class="form-group" id="grp_step_@treatmentstepId">
            <div class="col-sm-3">
                
                <label>
                    @tStep.TreatmentSteps.Steps.Title
                </label>
            </div>
            <div class="col-sm-7">
                
                <input type="text" name="inp_step_@treatmentstepId" class="form-control" value="@tStep.Description"/>
            </div>
            <div class="col-sm-2">
                <input type="checkbox" class="form-control" name="chk_ignore_@treatmentstepId" />
            </div>
        </div>
    }-->
</div>

<div class="modal fade" role="dialog" id="modal_treatmentAllSteps_@Model.ran">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Schritte ausw&auml;hlen</h4>
            </div>

            <div class="modal-body">
                <div class="list-group">
                    @{ bool selected = false; }
                    @foreach (var ts in allSteps) {
                        foreach (var task in Model.tasks) {
         
                            if (ts.StepId == task.StepId) {
                                selected = true;
                                break;
                            } else {
                                selected = false;
                            }
                        }
                        if (selected) {
                            <a class="list-group-item active item_allTasks" data-stepId="@ts.StepId" data-treatmentId="@Model.treatmentID" data-ran="@ran">
                                @ts.Steps.Title
                            </a>
                        } else {
                            <a class="list-group-item item_allTasks" data-stepId="@ts.StepId" data-treatmentId="@Model.treatmentID" data-ran="@ran">
                                @ts.Steps.Title
                            </a>
                        }

                    }
                </div>
            </div>
        </div>
    </div>
</div>


<hr />


