﻿@model IEnumerable<Salon.Models.CustomerViewModel>

@{
    ViewBag.Title = "CustomerMasterdata";
}

<div id="CustomerMasterdata">
    <h2>Masterdata</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CountryId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CountryId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CountryId })
                </td>
            </tr>
        }
    </table>
</div>
