﻿@model IEnumerable<Salon.Models.CustomerViewModel>

<div id="CustomerMaster">
    <table class="table" id="tbl_cust">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GenderId)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.FName)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.LName)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.CityName)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CountryId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CountryId }) |
                    @Html.ActionLink("View Visits", "VisitShort", new { id = item.CustomerId }, new { @class = "customer-visitshort" }) |
                    @Html.ActionLink("View Connections", "CustomerConnection", new { id = item.CustomerId }, new { @class = "customer-connection" })

                </td>
            </tr>
        }

    </table>
</div>
