﻿@model IEnumerable<Salon.Models.ConnectionViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="CustomerConnection">
    <h2>Connections</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ConnectionId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ConnectionId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ConnectionId })
                </td>
            </tr>
        }

    </table>
</div>