﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#treatments .panel {
    border: 1px solid #aaa;
}

#treatments .panel-heading{
    background-color: #eee;
}

#treatments .inline-text{
    display: flex;
    justify-content: center;
    align-items: center;
}


#treatments .inline-text.title{
    padding: 10px 20px;
    margin-bottom: 5px;
    background-color: #eee;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #aaa;
}

#treatments .inline-text p {
    width: 25%;
    margin: 0;
}

#treatments .inline-text.title p{
    font-weight: bold;
}