﻿@model IEnumerable<Salon.Models.TreatmentsVM>

@{
    ViewBag.Title = "Index";
}
<div id="treatments">
    <h2>Index</h2>
    <div class="inline-text title">
        <p>@Html.DisplayNameFor(model => model.Title)</p>
        <p>@Html.DisplayNameFor(model => model.Description)</p>
        <p>@Html.DisplayNameFor(model => model.isActive)</p>
        <p></p>
    </div>
    <div class="panel-group" id="accordion">

        @foreach (var item in Model)
        {
            <div class="panel">
                <div class="panel-heading panel-default">
                        <div class="inline-text">
                            <p>@Html.DisplayFor(modelItem => item.Title)</p>
                            <p>@Html.DisplayFor(modelItem => item.Description)</p>
                            <p>@Html.DisplayFor(modelItem => item.isActive)</p>
                            <p>@Html.ActionLink("View Steps", "TreatmentSteps", new { id = item.TreatmentId }, new { @class = "steps-viewdetail btn btn-default", data_toggle = "collapse", data_target = "#collapse-" + item.TreatmentId })</p>
                        </div>
                </div>
                <div id="collapse-@Html.DisplayFor(modelItem => item.TreatmentId)" class="panel-collapse collapse">
                    <div class="panel-body">
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            $('.steps-viewdetail').on('click', function (e) {
                $that = $(this);
                
                $.get($that.prop('href'), function (response) {
                    $that.closest('.panel').find('.panel-body').html(response)
                });
                e.preventDefault();
            });


            $('body').on('click', '.options-viewdetail', function (e) {
                e.preventDefault();
                console.log('test')
                $that = $(this);

                $.get($that.prop('href'), function (response) {
                    $that.closest('.panel').find('.panel-body').html(response)
                });
            });
        });
    </script>
}

